@model NetProject.Models.ServiceTask
@{
    ViewData["Title"] = "Usuń czynność serwisową";
}

<h1>@ViewData["Title"]</h1>

<h3>Czy na pewno chcesz usunąć czynność: @Model.Name?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nazwa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Koszt robocizny
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LaborCost)
        </dd>
    </dl>
    
    @* KLUCZOWA ZMIANA: asp-action musi być "Delete", a nie "DeleteConfirmed" *@
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Usuń</button>
        <a asp-controller="WorkOrders" asp-action="Details" asp-route-id="@Model.WorkOrderId" class="btn btn-secondary">Anuluj</a>
    </form>
</div>